begin codes
  KEY_UP                   0xff18e7
  KEY_DOWN                 0xff4ab5
  KEY_LEFT                 0xff10ef
  KEY_RIGHT                0xff5aa5
  KEY_OK                   0xff18e7
  KEY_1                    0xffa25d
  KEY_2                    0x0          # not working...
  KEY_3                    0xffe21d
  KEY_4                    0xff22dd
  KEY_5                    0xce02ad
  KEY_6                    0xffc23d
  KEY_7                    0xffe01f
  KEY_8                    0x0          # not working...
  KEY_9                    0x0          # not working...
  KEY_0                    0xff9867
  KEY_ASTERISK             0xff6897
  KEY_HASH                 0xffb04f
end codes

